/*** GENERAL STYLING ***/
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  
body {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #43474a;
    margin: 0;
}

/** Styling of header **/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header--image {
    width: 100px;
    cursor: pointer;
}

.header--hamburger {
    width: 50px;
    transition: transform .4s ease;
}

.header--hamburger:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.stroke {
    background: #000; 
    height: 5px; 
    margin-top: 8px; 
    background: #000;
}

.stroke:first-child {
    margin-top: 0;
}

/** Styling for the main data **/
.outer-wrapper {
    margin: auto;
    width: 100%;
}

.wrapper-heading {
    font-size: 50px;
    padding: 0 30px;
    margin: 0 0 20px 0;
    text-align: center;
}

.inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/** Styling of navigation bar to the left**/
.navigation-box {
    width: 250px;
    height: 100%;
    margin: 20px 0;
    align-self: flex-start;
}

/* Styling of sort-list */
.sorting {
    margin: 0 30px;
}

.sorting p {
    margin: 0 0 10px 0;
}

.sort-list {
    padding: 5px 50px;
}

.option {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    text-align: left;
}

/** Styling for restaurants **/
.main-box {
    width: 80%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.restaurant {
    font-size: 12px;
    margin: 0 20px 20px;
    width: 20%;
}

.restaurant-image {
    width: 95%;
    height: auto;
    margin: 0 0 10px 0;
}

.restaurant-name {
    font-weight: bold;
    font-size: 14px;
}

.restaurant-name, .restaurant-address, .restaurant-rating, .restaurant-price {
    margin: 3px;
}

.restaurant-address, .restaurant-rating, .restaurant-price {
    color: #808487;
}

.restaurant-rating::before {
    content: '\2605';
}

.restaurant-rating {
    color: #3eb009;
}

.footer {
    margin: 10px 0;
    bottom: 0;
    position: relative;
    text-align: center;
    font-size: 12px; 
}

.footer--text {
    margin: 5px;
}

/* ------------------------------------------------- MEDIA QUERIES ------------------------------------------------- ***/

/* Tablet devices ------------------------------------------------- */
@media (max-width: 1023px) { 
    .inner-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .navigation-box {
        width: 100%;
        height: 10vh;
        margin: 20px 0;
    }

    .main-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurant {
       width: 25vw;
       height: 350px;
    }

    .restaurant-image {
        width: 25vw;
        height: auto;
    }

    .restaurant-name {
        font-size: 14px;
    }
}

/* Mobile devices ------------------------------------------------- */
@media (max-width: 667px) {
    .inner-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper-heading {
        font-size: 30px;
    }

    .navigation-box {
        width: 100%;
        height: 10vh;
    }
    
    
    .main-box {
        width: 100%;
        margin: 0;
    }

    .restaurant {
        margin: 10px;
        width: 40vw;
    }

    .restaurant-image {
        width: 40vw;
    }
}  